@model Blog
@{
    ViewData["Title"] = "Delete";
}
<h1>
    Do you want to delete 
    <b>

    @Model.Title
    </b> ?
    </h1>

<form asp-controller="blog" asp-action="Delete" method="post">
    <input type="hidden" asp-for="BlogId" />
    <button type="submit" class="btn btn-primary" >Delete</button>
</form>