@model IEnumerable<Category>

<ul class="list-group">
    @foreach (var item in Model)
    {

        <a href="#" class="list-group-item active mt-1">
            @item.Name
        </a>
    
    }

</ul>






