@model IEnumerable<Blog>
@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-md-9">
            @foreach(var item in Model)
            {
            <div class="card mt-2">
                <img class="card-img-top" src="~/images/@item.Image" />
                <div class="card-header">
                    @item.Title
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            }
        </div>
    </div>
</div>